{{ define "kubelogin-tab-content" }}

<h3>Make sure your kubectl client has >= 1.30 version</h3>

<h3>Install and Set Up kubectl</h3>

<div class="command">

  <button class="btn" style="float: right" data-clipboard-snippet="">
    <img class="clippy" width="13" src="{{ .Web_Path_Prefix }}static/clippy.svg" alt=""/>
  </button>
  <pre><code>curl -L0 {{ .KubectlURI }} -o kubectl && \
    chmod +x kubectl && \
    sudo mv kubectl /usr/local/bin/ && \
    kubectl version --client</code></pre>
</div>

<h3>Install and Set Up kubelogin</h3>

<div class="command">

  <button class="btn" style="float: right" data-clipboard-snippet="">
    <img class="clippy" width="13" src="{{ .Web_Path_Prefix }}static/clippy.svg" alt=""/>
  </button>
  <pre><code>curl -L0 {{ .KubeloginURI }} -o kubectl-oidc_login && \
    chmod +x kubectl-oidc_login && \
    sudo mv kubectl-oidc_login /usr/local/bin/ && \
    kubectl-oidc_login version</code></pre>
</div>


<!-- CA -->
<p>Copy this CA Certificate and download it to your .kube directory</p>
<div class="command">

  <button class="btn" style="float:right" data-clipboard-snippet="">
    <img class="clippy" width="13" src="{{ .Web_Path_Prefix }}static/clippy.svg" alt=""/>
  </button>
  <pre><code>curl --create-dirs -s {{ .IDPCaURI }} -o ${HOME}/.kube/certs/{{ .ClusterName }}/idp-ca.crt</code></pre>
</div>
{{ end }}

{{ if .IDPCaPem }}
<h3>Copy IDP CA Certificate From PEM</h3>

<p>Put the CA Certificate into your .kube directory</p>

<div class="command">

  <button class="btn" style="float:right" data-clipboard-snippet="">
    <img class="clippy" width="13" src="{{ .Web_Path_Prefix }}static/clippy.svg" alt=""/>
  </button>
  <pre><code>mkdir -p ${HOME}/.kube/certs/{{ .ClusterName }}/ &amp;&amp; cat &lt;&lt; EOF &gt; ${HOME}/.kube/certs/{{ .ClusterName }}/idp-ca.crt
{{ .IDPCaPem }}
EOF</code></pre>
</div>
{{ end }}


{{ if .K8sCaURI }}
<h3>Copy Kubernetes CA Certificate From URL</h3>

<p>Copy this CA Certificate and download it to your .kube directory</p>
<div class="command">

  <button class="btn" style="float: right" data-clipboard-snippet="">
    <img class="clippy" width="13" src="{{ .Web_Path_Prefix }}static/clippy.svg" alt=""/>
  </button>
  <pre><code>curl --create-dirs -s {{ .K8sCaURI }} -o ${HOME}/.kube/certs/{{ .ClusterName }}/k8s-ca.crt</code></pre>
</div>
{{ end }}

{{ if .K8sCaPem }}
<h3>Copy Kubernetes CA Certificate From PEM</h3>

<p>Put the CA Certificate into your .kube directory</p>

<div class="command">

  <button class="btn" style="float:right" data-clipboard-snippet="">
    <img class="clippy" width="13" src="{{ .Web_Path_Prefix }}static/clippy.svg" alt=""/>
  </button>
  <pre><code>mkdir -p ${HOME}/.kube/certs/{{ .ClusterName }}/ &amp;&amp; cat &lt;&lt; EOF &gt; ${HOME}/.kube/certs/{{ .ClusterName }}/k8s-ca.crt
{{ .K8sCaPem }}
EOF</code></pre>
</div>
{{ end }}

<h3>Run configuration commands</h3>

<p>These commands will update <tt>~/.kube/config</tt></p>

<div class="command">

<button class="btn" style="float:right" data-clipboard-snippet="">
  <img class="clippy" width="13" src="{{ .Web_Path_Prefix }}static/clippy.svg" alt="">
</button>
<pre><code>kubectl config set-cluster {{ .ClusterName }} \
{{- if or .K8sCaPem .K8sCaURI }}
--certificate-authority=${HOME}/.kube/certs/{{ .ClusterName}}/k8s-ca.crt \
{{- end }}
--server={{ .K8sMasterURI }}</code></pre>
</div>


<h3>Configure kubeconfig with kubelogin</h3>

<!-- <p>This command will remove {{ .Username }}-{{ .ClusterName }} user credentials if exists in kubeconfig</p>

<div class="command">

  <button class="btn" style="float: right" data-clipboard-snippet="">
    <img class="clippy" width="13" src="{{ .Web_Path_Prefix }}static/clippy.svg" alt=""/>
  </button>
  <pre><code>kubectl config unset users.{{ .Username }}-{{ .ClusterName }}</code></pre>
</div> -->

<div class="command">
  <button class="btn" style="float:right" data-clipboard-snippet="">
    <img class="clippy" width="13" src="{{ .Web_Path_Prefix }}static/clippy.svg" alt="">
  </button>
<pre><code>kubectl config set-credentials {{ .Username }}-{{ .ClusterName }}-exec \
  --exec-api-version=client.authentication.k8s.io/v1 \
  --exec-interactive-mode=Never \
  --exec-command=kubectl \
  --exec-arg=oidc-login \
  --exec-arg=get-token \
  --exec-arg=--oidc-issuer-url={{ .Issuer }} \
  --exec-arg=--oidc-client-id={{ .ClientID }} \
  --exec-arg=--oidc-client-secret={{ .ClientSecret }} \
  --exec-arg=--oidc-extra-scope=email \
  --exec-arg=--oidc-extra-scope=profile \
  --exec-arg=--oidc-extra-scope=groups \
  --exec-arg=--oidc-extra-scope=openid \
  --exec-arg=--insecure-skip-tls-verify=true \
  --exec-arg=--grant-type=device-code \
  --exec-arg=--listen-address=0.0.0.0:443 \
  --exec-arg=--skip-open-browser=true \
  --exec-arg=--oidc-redirect-url-hostname={{ printf "%s/callback" .Issuer  }}</code></pre>
</div>

<div class="command">
  <button class="btn" style="float:right" data-clipboard-snippet="">
    <img class="clippy" width="13" src="{{ .Web_Path_Prefix }}static/clippy.svg" alt="">
  </button>
<pre><code>kubectl config set-context {{ .Username }}-{{ .ClusterName }}-exec \
  --cluster={{ .ClusterName }}{{ if .Namespace }} --namespace={{ .Namespace }}{{ end }} \
  --user={{ .Username}}-{{.ClusterName }}-exec</code></pre>
</div>

<div class="command">
  <button class="btn" style="float:right" data-clipboard-snippet="">
    <img class="clippy" width="13" src="{{ .Web_Path_Prefix }}static/clippy.svg" alt="">
  </button>
<pre><code>kubectl config use-context {{ .Username }}-{{ .ClusterName }}-exec</code></pre>
</div>

{{ end }}
